################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Northwind.SQLDataTools/bin/Debug
/Northwind.SQLDataTools/obj/Debug
/ExistingNorthwind.SQLDataTools/bin/Debug
/ExistingNorthwind.SQLDataTools/obj/Debug
/ExistingNorthwind.SQLDataTools/Import Schema Logs
